<settings>
<servers>
  <server>
    <id>nextork-nextwork-devops-cicd</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>nextork-nextwork-devops-cicd</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>nextork-nextwork-devops-cicd</id>
        <url>https://nextork-829772412896.d.codeartifact.eu-south-1.amazonaws.com/maven/nextwork-devops-cicd/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>nextork-nextwork-devops-cicd</id>
    <name>nextork-nextwork-devops-cicd</name>
    <url>https://nextork-829772412896.d.codeartifact.eu-south-1.amazonaws.com/maven/nextwork-devops-cicd/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>'

</settings>